<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CodedUIExtensionsAndHelpersTSI" version="1.0.2" targetFramework="net452" />
  <package id="HtmlElements" version="2.0.3" targetFramework="net452" />
  <package id="Microsoft.TeamFoundation.ReferenceAssemblies" version="12.0.21005.1" targetFramework="net452" />
  <package id="Selenium.Support" version="2.48.2" targetFramework="net452" />
  <package id="Selenium.WebDriver" version="2.48.2" targetFramework="net452" />
</packages>